@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #FAF8F3;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container-custom {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}